@font-face{
    font-family: 'inknut';
    src: url(./asset/InknutAntiqua-Bold.ttf)format('truetype');
  }
  *,
  html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #000000;
  }
  
  nav {
    position: absolute;
    top: 0;
    width: 100%;
    /* background-color: #092038; */
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    height: 20 dvh;
    z-index: 100;
  }
  
  nav:hover{
    background-color: #092038;
    transition: all 0.5s ease;
  }
  nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
  }
  
  nav div img {
    width: 80px;
    justify-content: center;
  }
  
  nav ul li a {
    text-decoration: none;
    font-family: 'inknut',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 500;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
  }
  nav ul #login:hover{
    border: 3px solid #af8a54;
    border-spacing: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 40px;
    color: #cc7c05;
    transition: all;
  }
  
  nav ul #sign-up a{
    color: #092038;
  }
  nav ul #sign-up {
    border: 1.5px solid #ffffff;
    border-radius: 20px;
    background-color: #EAB970;
    width: 100px;
    height: 40px;
    align-content: center;
    text-align: center;
  }
  
  nav ul #sign-up:hover{
    border: 3px solid #ffffff;
    border-spacing: 30px;
    border-radius: 20px;
    background-color: #C69956;
    width: 100px;
    height: 40px;
    transition: all;
  }
  
  nav ul li a:hover {
    color: #EAB970;
    border-bottom: 1px solid #EAB970;
  }
  
  .menu-icon {
    width: 40px;
    display: none;
    margin: 3vw;
  }

main {
  padding-top: 0rem;
}
.container1{
    background-image: url(./asset/back_welcome.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gambar-garis{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.h1-main{
    color:#EAB970;
    font-family: 'inknut';
    font-size: 3vw;
}

.img-main{
    width: 12%;
}

.h3-main{
    color: white;
    font-size: 30px;
    padding-bottom: 3vw;
}

.container2{
    border: 10px solid black;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(./asset/back_welcome_2.webp);
    background-size: cover;
    padding:20px;
}

.img-container2{
    width: 100%;
}

.container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: right;
}

.h2-page2{
    font-size: 3vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.h1-page2{
    color:#EAB970;
    font-size: 3vw;
    font-family: 'inknut';
}

.img-page2{
    width: 70%;
}

.p-page2{
    color: white;
    font-size: 20px;
    width: 80%;
    padding: 3vw;
}

.container3{
    background-image: url(./asset/back_char_welcome.webp);
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: 110vh;
    width: 100%;
}

.h1-page3{
    color:#EAB970;
    font-family: 'inknut';
    font-size: 4vw;
}

.img-page3{
    width: 50%;
    height: 5%;
}

.img-character{
    width: 60%;
    padding-bottom: 30px;
}

.a-character{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    text-decoration: none;
    color: black;
    border: 2px solid #EAB970;
    width: 20vw;
    height: 8vh;
    background-color: white;
    border-radius: 10px;
}

.a-character:hover{
    transition: 0.5s ease-in-out;
    background-color: black;
    color: white;
}

.container4{
    background-position: center;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background-image: url(./asset/bcak_naga_2.webp);
    background-size: cover;
}

.h1-page4{
    color:#EAB970;
    font-family: 'inknut';
    font-size: 5vw;
}

.img-page4{
    width: 50%;
    height: 5%;
}

.h3-page4{
    color: white;
    text-align: center;
    font-size: 1.1vw;
    width: 30%;
    padding-bottom: 40px;
}

.element{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
}

.container5{
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10%;
    background-image: url(./asset/map_back.webp);
    background-size: cover;
}

.container-text5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: left;
    /* padding-right: 30px; */
}

.h2-page5{
    font-size: 3vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.h1-page5{
    color:#EAB970;
    font-size: 4vw;
    font-family: 'inknut';
}

.img-page5{
    width: 70%;
}

.p-page5{
    color: white;
    font-size:1.5vw;
    width: 80%;
    padding: 20px;
    text-align: justify;
}

.a-map{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    color: black;
    background-color: white;
    opacity: 80%;
    border: 5px solid #EAB970;
    width: 20vw;
    height: 8vh;
}

.a-map:hover{
    text-decoration: underline;
}

footer{
    background-color: #092038;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.ul-footer{
    display: flex;
    gap: 2rem;
    padding: 10px;
}

.li-footer{
    list-style: none;
}

.a-footer{
    font-size: 1.4vw;
    text-decoration: none;
    color: #ffffff;
}

.a-footer:hover{
    text-decoration: underline;
}

.h1-footer{
    font-family: 'inknut';
    color: #EAB970;
    max-width: 90%;
    font-size: 1.7vw;
}

.container-sosmed{
    display: flex;
    gap: 2rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.logo-footer{
    width: 5%;
}

.img-sosmed{
    width: 6%;
}



@media screen and (min-width:540px) and (max-width: 1024px) {
    nav {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    top: 0;
    padding-bottom: 0vh;
    justify-items: center;
    z-index: 2;
    }

    nav ul .pembatas{
    display: none;
    }

    nav ul{
    flex-direction: column;
    width: 100%;
    margin-bottom: 3vh;
    }
    #login{
    align-content: center;
    align-items: center;
    }
    #login li{
    margin-bottom: 0.5vw;
    }

    #sign-up{
    align-content: center;
    align-items: center;
    }
    #sign-up li{
    margin-bottom: 0.5vw;
    }
    nav ul li{
    margin-bottom: -2vh;
    }

    /* nav ul li:last-of-type {
    padding-bottom: 8px;
    } */

    nav ul.hidden {
    display: none;
    }
    .logo{
    margin-bottom: -10px;
    }
    .menu-icon {
    display: flex;
    align-items: center;
    }

    nav ul #sign-up {
    align-content: center;
    text-align: center;
    }

    .h1-main{
        font-size: 4vw;
    }

    .h3-main{
        font-size: 3vw;
    }

    .h2-page2{
        font-size: 4vw;
    }

    .h1-page2{
        font-size: 4vw;
    }

    .p-page2{
        font-size: 2.7vw;
        text-align: justify;
    }

    .container-text{
        width: 100%;
    }

    .h1-page3{
        font-size: 4vw;
    }

    .h1-page4{
        font-size: 6vw;
    }

    .h3-page4{
        font-size: 3vw;
    }

    .container2{
        padding: 30px;
    }

    .img-container2{
        width: 50%;
    }

    .h2-page5{
        font-size: 5vw;
    }

    .h1-page5{
        font-size: 6vw;
    }

    .p-page5{
        font-size: 3vw;
        text-align: justify;
        line-height: 3vw;
    }

    .container5{
        gap: 0;
    }

    .container-text5 p{
        text-align: center;
    }

    .h3-page4{
        font-size: 30px;
        width: 70%;
    }

    .img-element{
        width: 10%;
    }

    .a-character{
        font-size: 3vw;
        height: 6vw;
    }
}

@media screen and (min-width: 300px) and (max-width: 539px) {
    nav {
        background-color: #092038;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        top: 0;
        padding-bottom: 0vh;
        justify-items: center;
      }
      
      nav ul .pembatas{
        display: none;
      }
      
      nav ul{
        /* border: solid green; */
        flex-direction: column;
        width: 100%;
        margin-bottom: 3vh;
        text-align: center;
        
      }
      #login{
        align-content: center;
        align-items: center;
      }
      #login li{ 
        margin-bottom: 0.5vw;
      }
      
      #sign-up{
        align-content: center;
        align-items: center;
      }
      #sign-up li{
        margin-bottom: 0.5vw;
      }
      nav ul li{
        margin-bottom: -2vh;
        text-align: center;
      }
      
      nav ul.hidden {
        display: none;
      }
      .logo img{
      height: 7vh;
      max-height: 7vh;
      /* border: solid red; */
      align-items: center;
    }
    .menu-icon {
      display: flex;
      align-items: center;
      /* border: solid blue; */
      width: 3vw;
    }
    
    nav ul #sign-up {
      align-content: center;
      text-align: center;
    }

    .container1{
        height: 100vh;
        background-position: center;
    }

    .h1-main{
        font-size: 4vw;
    }

    .img-main{
        width: 20%;
    }

    .img-garis{
        width: 20%;
    }

    .h3-main{
        font-size: 4vw;
    }

    .h2-page2{
        font-size: 3vw;
        text-align: center;
    }

    .h1-page2{
        font-size: 3vw;
        width: 100%;
        text-align: center;
    }

    .p-page2{
        font-size: 3vw;
        line-height: 3vw;
        text-align: justify;
    }

    .container2{
        text-align: center;
        flex-direction: column;
        height: 50vh;
    }

    .container-text{
        justify-content: center;
        align-items: center;
    }

    .img-container2{
        width: 20%;
    }

    .container3{
        height: 50vh;
        justify-content: start;
    }

    .h1-page3{
        font-size: 5vw;
    }

    .container-text5{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-character{
        width: 100%;
    }

    .a-character{
        width: 20vw;
        font-size: 10px;
        height: 5vh;
    }

    .h1-page4{
        font-size: 3vw;
    }

    .h3-page4{
        font-size: 2vw;
        width: 40vw;
        height:7vh;
    }

    .img-element{
        width: 8%;
    }

    .element{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
        height: auto;
    }

    .container4{
        height: 50vh;
        background-image: url(./asset/bcak_naga_2.webp);
        background-size: cover;
    }

    .container5{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 50vh;
    }

    .img-map{
        width: 30%;
    }

    .h2-page5{
        font-size: 5vw;
    }

    .h1-page5{
        font-size: 5vw;
    }

    .p-page5{
        text-align: justify;
        font-size: 3vw;
    }

    .container1, .container2,.container3,.container4,.container5{
        width: 100%;
        padding: 20px;
    }

    .a-character{
        font-size: 3vw;
        height: 3.5vh;
    }

    .logo-footer{
        width: 20%;
    }

    .ul-footer{
        display: flex;
        gap: 2rem;
        padding: 10px;
    }
    
    .li-footer{
        list-style: none;
    }
    
    .a-footer{
        font-size: 10px;
        text-decoration: none;
        color: #ffffff;
    }
    
    .a-footer:hover{
        text-decoration: underline;
    }
    
    .h1-footer{
        font-family: 'inknut';
        color: #EAB970;
        font-size: 10px;
    }
    
    .container-sosmed{
        display: flex;
        gap: 1rem;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .img-sosmed{
        width: 10%;
    }

    footer{
        width: 100%;
    }
}
